.counter {
  display: flex;
  width: 190px;
}

.counter-action {
  border: none;
  font-size: 1.15em;
  font-weight: bold;
  color: #b0aeba;
  background-color: #dcdcdc;
  display: block;
  padding: 20px 20px;
  cursor: pointer;
  outline: none;
}

.counter-action:hover {
  color: #fff;
}

.increment:hover {
  background: #83d97c;
}

.decrement:hover {
  background: #ef5350;
}

.counter-score {
  flex-grow: 1;
  text-align: center;
  font-family: monospace;
  font-size: 2em;
  line-height: 2em;
}
