.stats,
.stopwatch {
  width: 170px;
}

.stats {
  margin: 0 0 0 28px;
  font-weight: normal;
}

.stats td:first-child {
  text-align: right;
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 0.7em;
}

.stats td:last-child {
  text-align: left;
}

header {
  color: #fff;
  padding: 5px 10px;
  text-align: center;
  display: flex;
  align-items: center;
  background-color: #8063fa;
  border-bottom: solid 2px #d4caff;
}

header h1 {
  flex-grow: 1;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: normal;
}
